<html>
<head><title>hey man</title>
<style>
td{
    padding: 4pt;
}
.nav{
    background-color: aqua;
    padding: 8pt;

}
th{
    background-color: green;
}
tr:hover{
    background-color: white
}
tr{
    background-color: aqua;
}


</style>

</head>
    <body align="center">
        <div class="nav" >
        {% if user.is_authenticated %}
        <button ><a href="/home">HOME</a></button>
        <button ><a href="add">add data</a></button>
        <button ><a href="/logout">logout</a></button>
        {% else %}
        <button ><a href="/login">login</a></button>
        {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>


            {% endif %}
        </div>

        {% block content %}
        {% endblock  %}
</body>
</html>