<html>
<head><title>hey man</title>
<style>
td{
    padding: 4pt;
    border: round ;
}
.nav{
    background-color: aqua;
    padding: 8pt;
}
th{
    background-color: green;
}
tr:hover{
    background-color: white
}
tr{
    background-color: aqua;
}
.reg{
    margin-left: 80% ;
}
button{
    background-color: aqua;
}
button:hover{
    background-color:darkcyan ;
}


</style>

</head>
    <body align="center">
        <div class="nav" >
        {% if user.is_authenticated %}
        <a href="/home" class="reg"><button>HOME</button></a>
        <a href="{% url 'add'%}" ><button >add data</button></a>
        <a href="/logout"><button >logout</button></a>
        {% else %}
       <a href="/register" class="reg" > <button class="bt">register</button></a>
        <a href="/login"><button  align="left">login</button></a>
        {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>


            {% endif %}
        </div>

        {% block content %}
        {% endblock  %}
</body>
</html>